body {
    background-color: rgb(194, 194, 194);
}
.item {
    float: left;
}
#cartoon-buttons {
    border-style: solid;
    border-color: rgb(100, 96, 96);
    border-width: 2px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(158, 66, 66);
    background-image: linear-gradient(to right,
      rgba(0, 0, 0, .9) 15%,
      rgba(0, 0, 0, .01) 50%,
      rgba(0, 0, 0, .9) 85%);
    animation: 3s linear 0s infinite alternate slider;    
}
.cartoon {
    font-family: 'Concert One', cursive;
    font-size: 2em;
    color: white;
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(211, 149, 67);
}
.cartoon:hover{
    cursor: pointer;
    animation: colors 5s infinite;
}    
    @keyframes colors {
        from {background-color: rgb(75, 94, 197);}
        to {background-color: rgb(116, 194, 79);}        
    }

#cartoon-form {
    margin: 10px;
    font-size: 20px;
}
.divider {
    height: 8px;
    width:100%;
    background-color: #ddc4c4;
    margin: 10px, 0px, 10px, 0px;
    overflow: hidden;
}
#container {
    font-family: 'Forum', cursive;
    font-weight: bold;
}
.gif {
    border: solid 3px black;
    margin-right: 5px;
}
